{% extends 'layout.html' %}
{% block body_content %}

<h3>About that..</h3>
<p style="width:100px;height:100px;">This CRUD application enables users to create a new list, search a database, and update and delete details in their list.</p>


{% endblock %}
~                                                                                                 
~                                                                                                 
~                                                                                                 
~                                                                                                 
~                                                                                                 
~                      
