{% extends 'layout.html' %}
{% block body_content %}
<div class="form">
        <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                        {{ form.games_id.label }}
                        {{ form.games_id }}
                        {% if form.games_id.errors %}
                        <div class="error">
                                {% for error in form.games_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <br>
                <div class="form-group">
                        {{ form.games_title.label }}
                        {{ form.games_title }}
                        {% if form.games_title.errors %}
                        <div class="error">
                                {% for error in form.games_title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <br>
                <div class="form-group">
                    {{ form.submit }}
                </div>
        </form>

</div>

<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th, td {
  text-align: center;
}
</style>
</head>
{% for list in lists %}
<div>
<table style="width:80%">
<caption>{{list_title}}</caption>
  <tr>
    <th>List ID</th>
    <th>Games ID</th>
    <th>Game Title</th>
  </tr>

  <tr>
    <td>{{ list.list_id }}</td>
    <td>{{ list.games_id }}</td>
    {% for game in games %}
    <td>{{ game.games_title }}</td>
  </tr>
        </table>
        </div>
    {% endfor %}
{% endfor %}






{% endblock %}
