{% extends 'layout.html' %}
{% block body_content %}

<h3>All Games!</h3>

<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th, td {
  text-align: center;
}
</style>
</head>

 <div class="form">
        <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                        {{ form.games_title.label }}
                        {{ form.games_title }}
                        {% if form.games_title.errors %}
                        <div class="error">
                                {% for error in form.games_title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <br>
                <div class="form-group">
                        {{ form.age_rating.label }}
                        {{ form.age_rating }}
                        {% if form.age_rating.errors %}
                        <div class="error">
                                {% for error in form.age_rating.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <br>
                <div class="form-group">
                        {{ form.games_price.label }}
                        {{ form.games_price }}
                        {% if form.games_price.errors %}
                        <div class="error">
                                {% for error in form.games_price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <br>
		<div class="form-group">
                        {{ form.games_description.label }}
                        {{ form.games_description }}
                        {% if form.games_description.errors %}
                        <div class="error">
                                {% for error in form.games_description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <br>
                <div class="form-group">
                        {{ form.console_title.label }}
                        {{ form.console_title }}
                        {% if form.console_title.errors %}
                        <div class="error">
                                {% for error in form.console_title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <br>
		 <div class="form-group">
                    {{ form.submit }}
                </div>
	</form>  
	<br></br>
<table id="GC" >
{% for gandc in GC %}
        <div>
        <table style="width:80%">
  <tr>
    <th>Games Title</th>
    <th>Age Rating</th>
    <th>Games Price</th>
    <th>Games Description</th>
    <th>Console Title(s)</th>
  </tr>
  <tr>
    <td>{{ gandc.games_title }}</td>
    <td>{{ gandc.age_rating }}</td>
    <td>{{ gandc.games_price }}</td>
    <td>{{ gandc.games_description }}</td>
    <td>{{ gandc.console_title }}</td>
  </tr>
</table>
  </div>
  {% endfor %}
 </div>
<br>

</br>
{% endblock %}
