{% extends 'layout.html' %}

{% block body_content %}

<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th, td {
  text-align: center;
}
</style>
</head>

<h3>Home Page</h3>
{% for list in lists %}
	<div>
	<table style="width:80%">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Title</th>
    <th>Description</th>
    <th>Favourites</th>
  </tr>
  <tr>
    <td>{{ list.first_name }}</td>
    <td>{{ list.last_name }}</td>
    <td>{{ list.list_title }}</td>
    <td>{{ list.list_description }}</td>
    <td>{{ list.favourites }}</td>
  </tr>
	</table>
	</div>
{% endfor %}

  <br></br>

{% for list in lists %}
        <div>
        <table style="width:80%">
	<caption>{{list.list_title}}</caption>
  <tr>
    <th>games ID</th>
    <th>Title</th>
  </tr>
  <tr>
    <td>{{ list.gamesref.games_id }}</td>
    
  </tr>
</table>
	</div>
  <br></br>
  {% endfor %}


{% endblock %}
