{% extends "layout.html" %}
{% block body_content %}
<h3>Create Your List!</h3>
<div class="form">
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		<div class="form-group">
			{{ form.first_name.label }}
			{{ form.first_name }}
			{% if form.first_name.errors %}
			<div class="error">
				{% for error in form.first_name.errors %}
				    <span>{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
			{{ form.last_name.label }}
			{{ form.last_name }}
			{% if form.last_name.errors %}
			<div class="error">
				{% for error in form.last_name.errors %}
				    <span>{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
			{{ form.list_title.label }}
			{{ form.list_title }}
			{% if form.list_title.errors %}
			<div class="error">
				{% for error in form.list_title.errors %}
				    <span>{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
			{{ form.list_description.label }}
			{{ form.list_description }}
			{% if form.list_description.errors %}
			<div class="error">
				{% for error in form.list_description.errors %}
				    <span>{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
			{{ form.favourites.label }}
			{{ form.favourites }}
			{% if form.favourites.errors %}
			<div class="error">
				{% for error in form.favourites.errors %}
				    <span>{{ error }}</span>
				{% endfor %}
			</div>
			{% endif %}
		</div>
		<br>
		<div class="form-group">
                        {{ form.games_id.label }}
                        {{ form.games_id }}
                        {% if form.games_id.errors %}
                        <div class="error">
                                {% for error in form.games_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                        </div>
                        {% endif %}
                </div>
                <br>
		<div class="form-group">
		    {{ form.submit }}
		</div>
	</form>

</div>
<br>

</br>

<head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th, td {
  text-align: center;
}
</style>
</head>

{% for list in lists %}
        <div>
        <table style="width:80%">
        <caption>{{list.list_title}}</caption>
  <tr>
    <th>games ID</th>
    <th>Title</th>
  </tr>
  <tr>
    <td>{{ list.gamesref.games_id }}</td>

  </tr>
</table>
        </div>
  <br></br>
  {% endfor %}


{% endblock body_content %}
